body {
    background-color: rgb(255, 255, 255);
}

.pantalla {
    vertical-align: middle;
    background-color:white;
    opacity: .5;
    height: 200px;
    width: 400px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;

}
.fondo {
    height: 600px;
    width: 400px;
    margin: 80 0 0 600;
    align-content:center;
    position: absolute;
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    background-image: url("fondo2.jpeg");
    box-shadow: 0 0 5px gray;
}
.container {
    position: absolute;
    width: 340px;
    height: 340px;
    border: none;
    border-radius: 10px;
    left: 40px;
    top: 240px;
}
.boton {
    margin-left: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
    border-style: none;
    border-radius: 50%;
    font-size: 30px;
    color: black;
    background-color: #fdcfd9;
    outline: none;
}

.boton:hover {
    background-color: #fcbecb;
}